.prifont{
	color: #D4CFCF;
	
}
.prifont2{
	border-bottom: solid 2px #D4CFCF;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 550px;
	height: auto;
}

.prirule{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}