<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/modernizr.js"></script>
  <title></title>
</head>
<body class="cd-about">
<main>
  <div class="cd-about cd-main-content">
    <div class="logo"><a href="index.html" data-type="page-transition"><img src="img/LOGO/LOGO%20WIT.png"></a></div>
    <div class="nr">
      <form>
        <p>メールアドレス:<input type="text" name="email"></p>
        <p>新しいPW:<input type="password" name="npw"></p>
        <p><input type="submit" value="再設定"></p>
      </form>
    </div>
    <div class="foot"><img src="img/line.png"></div>
    <div class="down"><a href="privacy_policy.html" data-type="page-transition">プライバシーポリシー</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a
        href="rules.html" data-type="page-transition">利用規約</a>
    </div>
  </div>
</main>
<div class="cd-cover-layer"></div>
<div class="cd-loading-bar"></div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script>
</body>
</html>
