/*SNS系統*/
body{
	background-image: url("../img/LOGO/LOGO BT.png");
	background-position: center center; 
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 30%;
	
}
@font-face {
  font-family: 'Myfont';
  src: url("../font/FlopDesignFONT.otf");
}
.font{
	font-family:'Myfont';
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

/*アンダーバー*/
.Header {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 80px;
	border-bottom: solid 2px #000000;
}
.Header2{
	border-bottom: solid 2px #000000;
}
.Header3{
	border-bottom: solid 2px #000000;
	position: absolute;
	top: 26.5%;
	left: 50%;
	transform:translateX(-50%);
	width: 1440px;
}

/*配置*/
.box {
	position: absolute;
	top: 22%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.box2 {
	position: absolute;
	top: 40%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.box3 {
	position: absolute;
	top: 58%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.boxmini {
	position: absolute;
	top: 25%;
	right: 18%;
	padding: 30px;
    text-align: center;
}
.circle {
	position: absolute;
	top: 50%;
	right: 20%;
	padding: 30px;
	text-align: center;
}
.closeModal {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
	font-size: 3em;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
/*　.modalWrapperの上にYを縮小した.modalWrapper2を設置することでヘッダー固定化スクロール　*/
.modalWrapper {	
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 1500px;
	height: 800px;
	padding: 10px 30px;
	background-color: #fff;
}
.modalWrapper2 {/*Messeage List*/
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translate(-50%,-80%);
	width: 1500px;
	height: 700px;
	padding: 10px 30px;
	background-color: #fff;
	overflow-y: auto;/*スクロール*/
}
.modalWrapper3 {/*Friend List*/
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translate(-50%,-80%);
	width: 1500px;
	height: 700px;
	padding: 10px 30px;
	background-color: #fff;
	overflow-y: auto;/*スクロール*/
}
.modalWrapper4 {/*Create Messeage*/
	position: absolute;
	top: 80%;
	left: 50%;
	transform:translate(-50%,-80%);
	width: 1500px;
	height: 700px;
	padding: 10px 30px;
	background-color: #fff;
	overflow-y: auto;/*スクロール*/
}
.modalWrapper5 {/*Friend Search*/
	position: absolute;
	top: 94%;
	left: 50%;
	transform:translate(-50%,-94%);
	width: 1500px;
	height: 500px;
	padding: 10px 30px;
	background-color: #fff;
	overflow-y: auto;/*スクロール*/
}
.closeModal {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
}



/* 以下ボタン系統 */

/*メッセージを確認する*/
#openModal{
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0;
	text-decoration: none;
	color: #67c5ff;
}
#openModal:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
#openModal:hover:before {
    top: -webkit-calc(95% - 3px);
    top: calc(95% - 3px);
}


/*フレンド一覧*/
#openModal_Friend_List{
	text-decoration: none;
	color: #668ad8;
	width: 250px;
	height: 250px;
	line-height: 120px;
	border-radius: 50%;
	border: solid 2px #668ad8;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_List:hover {
    background: #b3e1ff;
  -webkit-transform: rotateY(100deg);
  -ms-transform: rotateY(100deg);
  transform: rotateY(360deg);
}


/*新着メッセージ作成*/
#openModal_Friend_Select {
    padding: 0.5em 1em;
    text-decoration: none;
	border-top: solid 4px #FFA000;
	border-bottom: solid 4px #FFA000;
	background: #fff1da;
	color: #FFA000;
	width: 500px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_Select:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
	}
#openModal_Friend_Select:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}


/*フレンド検索*/
#openModal_Friend_Search {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFA000;
    background: #fff1da;
	width: 500px;
	height: 150px;
	border-top: solid 4px #FFA000;
	border-radius: 0 0 40px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_Search:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
#openModal_Friend_Search:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}


/*新着メッセージ表示*/
.messeage{
    position: relative;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #FFA000;
    background: #fff1da;
    border-bottom: solid 4px #FFA000;
    border-radius: 40px 40px 0 0;
    transition: .4s;
	width: 500px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.messeage:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}



/*SN1-2 Messeage List*/
.inbox{
	background-color: #FFF3F3;
	width: 1300px;
	height: 200px;
	position: relative;
	left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
	border-radius: 20px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.sns_top_image{
	max-width: auto;
	height: 180px;
	position: absolute;
	top: 5%;
	left: 12%;
	border: solid 2px #000000;
}
.sns_name{
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translateX(-50%)
	
}
.go_messeage {
    position: absolute;
	top: 29%;
	left: 72%;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}
.go_messeage:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
.go_messeage:after{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top: 0;
   left: 0;
   border-radius: 4px;
   background:#67c5ff;
   transition: .2s;
}
.go_messeage:hover:before {
    top: -webkit-calc(95% - 4px);
    top: calc(95% - 4px);
}
.go_messeage:hover:after {
    top: 4px;
}



/*SN2 Create Messeage*/
.inbox3{
	background-color: #FFFEEA;
	width: 1300px;
	height: 200px;
	position: relative;
	left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
	border-radius: 20px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.sns_top_image3{
	max-width: auto;
	height: 180px;
	position: absolute;
	top: 5%;
	left: 12%;
	border: solid 2px #000000;
}
.sns_name3{
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translateX(-50%)
	
}
.go_chat {
    position: absolute;
	top: 29%;
	left: 72%;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}
.go_chat:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
.go_chat:after{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top: 0;
   left: 0;
   border-radius: 4px;
   background:#67c5ff;
   transition: .2s;
}
.go_chat:hover:before {
    top: -webkit-calc(95% - 4px);
    top: calc(95% - 4px);
}
.go_chat:hover:after {
    top: 4px;
}



/*SN5 Friend Search*/
.inbox4{
	width: 1300px;
	height: 120px;
	position: relative;
	left: 50%;
	margin-bottom: 20px;
	transform: translateX(-50%);
	border-radius: 20px;
	background: #F5FFFE;
	box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}
.sns_top_image4{
	max-width: auto;
	height: 100px;
	position: absolute;
	left: 12%;
	top: 8%;
	border: solid 2px #000000;
}
.sns_name4{
	position: absolute;
	top: 22.5%;
	left: 45%;
	transform: translateX(-45%)
	
}
.friend_request {
    position: absolute;
	top: 23.5%;
	left: 65%;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}
.send_messeage {
    position: absolute;
	top: 23.5%;
	left: 80%;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}
.friend_request:before,.send_messeage:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
.friend_request:after,.send_messeage:after {
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top: 0;
   left: 0;
   border-radius: 4px;
   background:#67c5ff;
   transition: .2s;
}
.friend_request:hover:before,.send_messeage:hover:before {
    top: -webkit-calc(95% - 4px);
    top: calc(95% - 4px);
}
.friend_request:hover:after,.send_messeage:hover:after {
    top: 4px;
}

/*Friend検索バー*/
.search_friend{
	position: absolute;
	left: 19%;
	top: 10%;
	width: 900px;
	height: 100px;
	padding: 20px;
	margin: 2em;
	border-radius: 20px;
	background: #FFF;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);

}
.search_content form{
  height:50px;
  width:700px;
  position:relative;
}
.search_content form input[type=text]{
  font-size: 25px;
  width: 700px;
  height:50px;
  padding:4px 165px 4px 20px;
  border:none;
  -webkit-border-radius:32px;
  -moz-border-radius:32px;
  border-radius:32px;
  -webkit-appearance: none;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:absolute;
  background:#EEEEEE;
  top:0;
  right:0;
  backface-visibility: hidden;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.search_content form input[type=text]:focus{
  background:#F6F6F6;
}
.search_content form button{
	font-size: 19px;
	width: 150px;
	height: 50px;
	color:#fff;
	border:none;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border-radius:16px;
	background:#1B73BA;
	display:inline-block;
	-webkit-appearance: none;
	outline: 0;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	backface-visibility: hidden;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.search_content form button:hover{
  opacity:0.8;
}
.search_content{/*フォームの位置*/
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-60%,-50%);
}
.friend_id{/*ID:の位置*/
	position: absolute;
	top: 22.5%;
	left: 6%;
	z-index: 20;
	transform: translate(-6%,-22.5%);
}



/*SN1-1 Friend List*/
@keyframes tabAnim{
	0%{opacity:0;}
	100%{opacity:1;}
}
#tab1:checked ~ .tab_area .tab1_label{/*TAB1を選択したときの色*/
	background: #B8E4E7;
	color:#000;
}
#tab1:checked ~ .panel_area #panel1{
	display:block; 
	animation:tabAnim ease 0.8s forwards;
	-ms-animation:tabAnim ease 0.8s forwards;
}
#tab2:checked ~ .tab_area .tab2_label{/*TAB2を選択したときの色*/
	background: #B8E4E7;
	color:#000;
}
#tab2:checked ~ .panel_area #panel2{
	display:block; 
	animation:tabAnim ease 0.8s forwards;
	-ms-animation:tabAnim ease 0.8s forwards;
}
input[type="radio"]{
	display:none;
}
.tab_wrap{/*TABチェックの範囲*/
	width: 1400px;
	margin: 20px auto;
}
.tab_area{/*TABチェックの裏の範囲*/
	font-size:0; 
	margin:0 290px 0 290px;
	/*background: #558858;*/
}
.tab_area label{
	width: 400px; 
	margin: 5px; 
	display: inline-block; 
	transition: ease 0.2s border-radius, ease 0.2s transform;
	vertical-align: bottom; 
	padding: 14px 0 12px; 
	color: #000; 
	background: #fff;/*選択していないTABの背景色*/
	text-align: center; 
	font-size: 13px; 
	cursor: pointer;
	border-top-left-radius: 20px; 
	border-top-right-radius: 20px; 
	box-sizing: border-box;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.tab_area label:hover{
	opacity:0.7;
}
.tab_panel{/*TAB内のCSS*/
	width:100%; 
	padding:80px 0;
	opacity:0;
	display:none; 
	background:#fff; 
	border-radius:0 0 20px 20px;
	box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.tab_panel p{
	font-size:14px; 
	letter-spacing:1px;
	text-align:center;
}
.panel_area{
	position:relative; 
	background: #ABABAB; 
	border-radius:15px 15px 20px 20px;
	border-top:15px solid #d7e9ea;
}


