/*SNS系統*/
body{
	background-image: url("../img/LOGO/LOGO BT.png");
	background-position: center center; 
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 30%;
}
@font-face {
  font-family: 'Myfont';
  src: url("../font/FlopDesignFONT.otf");
}
.font{
	font-family:'Myfont';
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.5);
}

/*アンダーバー*/
.Header {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 80px;
	border-bottom: solid 2px #000000;
}
.Header2{
	border-bottom: solid 2px #000000;
}

/*配置*/
.box {
	position: absolute;
	top: 22%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.box2 {
	position: absolute;
	top: 40%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.box3 {
	position: absolute;
	top: 58%;
	left: 15%;
	padding: 30px;
    text-align: center;
}
.boxmini {
	position: absolute;
	top: 25%;
	right: 18%;
	padding: 30px;
    text-align: center;
}
.circle {
	position: absolute;
	top: 50%;
	right: 20%;
	padding: 30px;
	text-align: center;
}
.closeModal {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
	font-size: 3em;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {	
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 70%;
	width: 1500px;
	height: 800px;
	padding: 10px 30px;
	background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* 以下ボタン系統 */

/*メッセージを確認する*/
#openModal{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0.25em 0;
   text-decoration: none;
   color: #67c5ff;   
}
#openModal:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
#openModal:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}


/*フレンド一覧*/
#openModal_Friend_List{
	text-decoration: none;
	color: #668ad8;
	width: 250px;
	height: 250px;
	line-height: 120px;
	border-radius: 50%;
	border: solid 2px #668ad8;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	transition: .4s;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_List:hover {
    background: #b3e1ff;
  -webkit-transform: rotateY(100deg);
  -ms-transform: rotateY(100deg);
  transform: rotateY(360deg);
}


/*新着メッセージ作成*/
#openModal_Friend_Select {
    padding: 0.5em 1em;
    text-decoration: none;
	border-top: solid 4px #FFA000;
	border-bottom: solid 4px #FFA000;
	background: #fff1da;
	color: #FFA000;
	width: 500px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_Select:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
	}
#openModal_Friend_Select:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}


/*フレンド検索*/
#openModal_Friend_Search {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FFA000;
    background: #fff1da;
	width: 500px;
	height: 150px;
	border-top: solid 4px #FFA000;
	border-radius: 0 0 40px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#openModal_Friend_Search:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}
#openModal_Friend_Search:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}


/*新着メッセージ表示*/
.messeage{
    position: relative;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #FFA000;
    background: #fff1da;
    border-bottom: solid 4px #FFA000;
    border-radius: 40px 40px 0 0;
    transition: .4s;
	width: 500px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.messeage:hover {/*ボタンに触れたとき*/
    background: #ffc25c;
    color: #FFF;
}


/*SN1-2 Messeage List*/
.sns_top_image{
	max-width: auto;
	height: 180px;
	position: absolute;
	top: 15%;
	left: 12%;
	border: solid 2px #000000;
}
.sns_name{
	position: absolute;
	top: 21.5%;
	left: 50%;
	transform: translateX(-50%)
	
}
.go_messeage {
    position: absolute;
	top: 20%;
	left: 72%;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
}
.go_messeage:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
   transition: .2s;
}
.go_messeage:after{
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top: 0;
   left: 0;
   border-radius: 4px;
   background:#67c5ff;
   transition: .2s;
}
.go_messeage:hover:before {
    top: -webkit-calc(100% - 4px);
    top: calc(100% - 4px);
}
.go_messeage:hover:after {
    top: 4px;
}