@charset "UTF-8";

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
  width: 100%;
  background-color: #E7E7E7;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

/*フォント系統*/
@font-face {
  font-family: 'Myfont';
  src: url("../font/FlopDesignFONT.otf");
}

.font {
  font-family: 'Myfont', serif;
}

.main-content {
  width: 100%;
}

/* ボタンの周り */
.button-wrap {
  height: 150px;
  width: 75%;
  margin: 30px auto;

  /********** flexbox settings ***************/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*******************************************/

  /* debug */
  background-color: red;
}

/* ボタン */
.controll-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 80px;
  width: 250px;
  font-size: 30px;
}

/* 検索結果 */
.product-list {
  width: 90%;
  margin: 0 auto;
  padding: 10px;

  /********** flexbox settings ***************/
  /* 並ぶ方向 */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 溢れたら次の行へ */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* 横方向のmargin */
  justify-content: space-around;
  /* 縦方向の位置合わせ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 縦方向のmargin */
  align-content: space-between;
  /*******************************************/

  /* debug */
  background-color: blue;
}

.product-container {
  background-color: #ccc;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  width: 200px;
  height: 200px;
}

amp-img.product img {
  object-fit: contain;
}

/************************ 以下モーダル *************************/
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 800px;
  padding: 10px 30px;
  background-color: #C6C6C6;
  border-radius: 3px;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 3em;
}

.modalContents {
  width: 100%;
  height: 100%;
}

.modalContents.flex-container {
  /********** flexbox settings ***************/
  /* 並ぶ方向 */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 溢れたら次の行へ */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* 横方向のmargin */
  justify-content: space-around;
  /* 縦方向の位置合わせ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 縦方向のmargin */
  align-content: space-between;
  /*******************************************/
}

.modalContents .image {
  width: 50%;
  height: 100%;
}

.modalContents .image-container.flex-container {
  width: 350px;
  height: 350px;
  border-radius: 50px;
  background-color: #A0A0A0;
  margin: 150px auto 20px auto;
  /********** flexbox settings ***************/
  /* 並ぶ方向 */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /* 溢れたら次の行へ */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* 横方向のmargin */
  justify-content: space-around;
  /* 縦方向の位置合わせ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 縦方向のmargin */
  align-content: space-between;
  /*******************************************/
}

.modalContents .image-container img.thumbnail {
  object-fit: contain;
}

.modalContents button.report {
  background-color: deeppink;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 30px;
}

.modalContents .detail {
  width: 50%;
  height: 100%;
  padding: 80px 20px;
}

.modalContents .detail .title {
  height: 20%;
  line-height: 124px;
  text-align: center;
  font-size: 25px;
}

.modalContents .detail .comment {
  height: 40%;
  padding: 50px 30px;
  font-size: 20px;
}

.modalContents .detail .price{
  height: 20%;

}
.detail .price .display-area {
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 30px;
}

.modalContents .detail .submit {
  height: 20%;
}

.modalContents .detail .submit button {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: turquoise;
}
